body {
    font-family: 'Poppins', sans-serif;
    background: transparent;
}

#chat-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #ffaac3;
    border-radius: 50%;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

#chat-toggle:hover {
    background-color: #e88fa8;
}

#chat-window {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    box-shadow: 0 -4px 12px rgba(0,0,0,0.1);
}

#chat-window.open {
    transform: translateY(0);
}


#chat-header {
    background-color: #ffaac3;
    color: white;
    padding: 16px;
    text-align: center;
    font-weight: bold;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#chat-body {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#chat-input-container {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #fffce4;
    gap: 6px;
}

#chat-input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
    color: #323232;
}

#send-btn.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#send-btn.active {
    background-color: #ffaac3;
    cursor: pointer;
}

#upload-btn, #send-btn, #voice-btn {
    background-color: #ffaac3;
    color: white;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}

#close-chat {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
}


.bot-message, .user-message {
    padding: 8px 12px;
    border-radius: 16px;
    max-width: 80%;
    font-size: 14px;
}

.bot-message {
    background-color: #fffce4;
    color: #323232;
    align-self: flex-start;
}

.user-message {
    background-color: #ffaac3;
    color: white;
    align-self: flex-end;
}
